body {
   text-align: center;
}
.title {
  background-image: url("../images/fae.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #ccc;
  background-size: cover;
  border: 1px solid;
  height: 100vh;
  display: flex;
  justify-content: center;
}
.title > * {
  align-self: center;
  padding: 2rem; 
}
.jumbotron {
   background: rgba(255,255,255,.9); 
}

.logo {
   height: 140px;
}


@media screen and (max-width: 989px) {
  .logo {
    height: 70px;
    flex: 100%;

  }
}



@media screen and (max-width: 989px) {
  nav {
    background-color: transparent;
    
 }
}
nav {
   background-color: transparent;
   
}
nav ul {
   overflow:auto;
}


@media screen and (max-width: 600px) {
  .navbar-nav {
    text-align: center;
    float: center;
}

}
.navbar-nav {


    text-align: center;
    float: center;
}

.navbar-nav > li > a {
   color: white;
   text-shadow: 4px 4px 8px black;
}
@media screen and (max-width: 989px) {
  .navbar-nav > li > a {
    color: white;
    text-shadow: 4px 4px 8px black;
    background-color: black;
 }
}
.nav-item {
	padding: 0px 10px 0px 10px;	
   
}
.navbar-toggler {
  background-color: white;
}

.anchor{
   display:block;
   height:140px; 
   margin-top:-140px; 
   visibility:hidden;
}

@media screen and (max-width: 989px) {
  .anchor{
    display:block;
    height:230px; 
    margin-top:-230px; 
    visibility:hidden;
 }
}
.about {
   background-color: white;
   display: flex;
   justify-content: center;
}
.about > * {
  align-self: center;
  padding: 2rem; 
}

.signature {
   height: 100px;
}


.social-stats {
   background-color: black;

}
.social-stats > div > div > a > img {
   height: 20px;

}

.recent-projects {   
   background-color: white;
   display: flex;
   justify-content: center;
}
.recent-projects > * { 
   align-self: center;
   padding: 2rem; 
}  

.client-review {
   background-color: black;
   display: flex;
   justify-content: center;
}

.client-review > * {
  align-self: center;
  padding: 2rem; 
  color: white;

}
.client-review > div> blockquote > p {
   font-style: italic;
   font-size: 200%;
}

.social-links {
   background-color:  white;
}
.social-links > div > div > a > img {
   height: 20px;

}






/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 989px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

.latest-blog {
   background-color: black;
   display: flex;
   justify-content: center;
   color: white;
}
.latest-blog > * {
   align-self: center;
   padding: 2rem; 
}
.latest-blog img {
  width: 100%;
}

.contact {
   display: flex;
   justify-content: center;
}
.contact > * {
   align-self: center;
   padding: 2rem; 
}

.red{
    color:red;
    }
.form-area {

   background-color: #FAFAFA;


	}
   
form > * {
	margin: 5px 0px 5px;
}
form > input {
      height: 11%;
   
}
form > textarea {
      height: 25%;
   
}

.footer {

   background-color: black;
   display: flex;
   justify-content: center;
   color: white;
}
.footer > * {
   align-self: center;
   padding: 2rem; 
   }

